::selection {
    background: #2fbe24;
    color: #fff;
}

.page-link{
    color: #3EB489;
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    text-decoration: none;
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.title-time-model{
    font-size: 16px;
}

.page-link:hover{
    z-index: 2;
    color: #3a1e00;
    border-color: #3d0000;
    background-color: #bc3151;
}

.page-link:focus{
    color:#150b00;
}

.page-link:focus-visible{
    border-color: #3d0000;
}

.btn{
    color: #3EB489;
    border-color: #3EB489;
}

.btn:hover{
    color: #3a1e00;
    border-color: #3d0000;
    background-color: #bc3151;
}

.input-group{
    width: 100%;
    height: 26px;
}

/* footer */
.payment-option {
    flex: 1;
}

.payment-options {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}


.payment-options li {
    margin: 0;
}

.socialnet a{
    color: #3EB489;
    text-decoration: none;
}

.container h3{
    color: #3EB489;
}

.container p{
    color: #3EB489;
}

.containerfooter {
    text-align: center;
}